html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f1f1f1;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.main__link {
    color: #62929E;
}

.main__header {
    color: #5D576B;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px;
    background: #fff;
}

.navigation {}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__item {
    display: block;
    margin: 0 32px;
}

.navigation__link {
    color: #62929E;
}

.about {
    position: relative;
}

.about__header {
    color: #1460AA;
}

.about__paragraph {
    color: #37025a;
    padding: 16px;
}

.about__link {
    color: #62929E;
}

.realisation {}

.realisation__header {
    color: #1460AA;
}

.realisation__paragraph {
    color: #37025a;
    padding: 16px;
}

.realisation__link {
    color: #62929E;
}

.article {}

.article__header {
    color: #1460AA;
}

.article__paragraph {
    color: #37025a;
    padding: 16px;
}

.article__photo {
    border-radius: 15px 100px;
    width: 75%;
    box-shadow: 10px 10px 5px grey;
    margin: 30px 30px 30px 0px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #62929E;
    text-decoration: none;
}

.site__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 16px;
    background: rgb(189, 188, 188);
}