body {
    background: #f1f1f1;
}

.mainHeader {
    color: #5D576B;
}

.sectionHeader {
    color: #1460AA;
}

.thirdHeader {
    color: #5D576B;
}

.paragraph {
    color: #37025a;
    padding: 16px;
}

.photo {
    border-radius: 15px 100px;
    width: 75%;
    box-shadow: 10px 10px 5px grey;
    margin: 30px 30px 30px 0px;
}

.center {}

.navigation__link {
    color: #62929E;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.about {
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #62929E;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: #fff;
}